<!-- <div class="bg-primary text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the repository.
</div> -->

<!-- <div>
    <h2>{{product.name}}</h2>
    <h2 [textContent]="product.name"></h2>

    <img src="assets/img/{{product.imageUrl}}">
    <img [src]="'assets/img/' + product.imageUrl">
</div> -->

<!-- <div [class]="getClasses(1)">
    First product in catalog: {{model.getProductById(1)!.name}}
</div>
<div [class]="getClasses(2)">
    Second product in catalog: {{model.getProductById(2)!.name}}
</div>

<div class="btn btn-primary" [class.disabled]="disabled">Submit</div>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    <span [ngStyle]="getStyles(1)">First</span> product in catalog: {{model.getProductById(1)!.name}}
</div>
<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    <span>Second</span> product in catalog: {{model.getProductById(2)!.name}}
</div> -->


<!-- <div (click)="onDivClicked()" style="width: 500px; height:500px; background: red;">
    <button name="btn1" (click)="onSubmit($event)">Submit</button>
    <button name="btn2" (click)="onSubmit($event)">Submit</button>
</div> -->

<!-- <input (keyup)="onKeyUp()">
<input (keyup.enter)="onKeyUp($event)">
<input #email (keyup.enter)="onKeyUp(email.value)"> -->


<h4>Lower-Upper-Title CasePipe</h4>
<p>{{ title }}</p>
<p>{{ title | lowercase }}</p>
<p>{{ title | uppercase }}</p>
<p>{{ title | titlecase }}</p>

<h4>Date Pipe</h4>
<p>{{ today }}</p>
<p>{{ today | date }}</p>
<p>{{ today | date: 'fulldate' }}</p>
<p>{{ today | date: 'medium' }}</p>
<p>{{ today | date: 'short' }}</p>
<p>{{ today | date: 'h:mm:ss' }}</p>

<h4>Decimal Pipe</h4>
<p>{{ students }}</p>
<p>{{ students | number }}</p>
<p>{{ price | number: '1.2-2' }}</p>

<h4>Currency Pipe</h4>
<p>{{ price }}</p>
<p>{{ price | currency: 'EUR' }}</p>

<h4>Percent Pipe</h4>
<p>{{ completed }}</p>
<p>{{ completed | percent }}</p>