<admin-products></admin-products>
<posts></posts>

<!-- <div *ngIf="model.getProducts().length>0" class="bg-primary text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the repository.
</div>

<div *ngIf="model.getProducts().length==0" class="bg-primary text-white m-2 p-2">
    There are no products in the repository.
</div> -->

<!-- <div *ngIf="model.getProducts().length>0; then productList else noProducts"></div>

<ng-template #productList>
    <div class="bg-primary text-white m-2 p-2">
        There are {{model.getProducts().length}} products in the repository.
    </div>
</ng-template>

<ng-template #noProducts>
    <div class="bg-primary text-white m-2 p-2">
        There are no products in the repository.
    </div>
</ng-template>



<div [hidden]="model.getProducts().length>0" class="bg-primary text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the repository.
</div>

<div [hidden]="model.getProducts().length==0" class="bg-primary text-white m-2 p-2">
    There are no products in the repository.
</div> -->

<!-- <div>
    <h2>{{product.name}}</h2>
    <h2 [textContent]="product.name"></h2>

    <img src="assets/img/{{product.imageUrl}}">
    <img [src]="'assets/img/' + product.imageUrl">
</div> -->

<!-- <div [class]="getClasses(1)">
    First product in catalog: {{model.getProductById(1)!.name}}
</div>
<div [class]="getClasses(2)">
    Second product in catalog: {{model.getProductById(2)!.name}}
</div>

<div class="btn btn-primary" [class.disabled]="disabled">Submit</div>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    <span [ngStyle]="getStyles(1)">First</span> product in catalog: {{model.getProductById(1)!.name}}
</div>
<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    <span>Second</span> product in catalog: {{model.getProductById(2)!.name}}
</div> -->


<!-- <div (click)="onDivClicked()" style="width: 500px; height:500px; background: red;">
    <button name="btn1" (click)="onSubmit($event)">Submit</button>
    <button name="btn2" (click)="onSubmit($event)">Submit</button>
</div> -->

<!-- <input (keyup)="onKeyUp()">
<input (keyup.enter)="onKeyUp($event)">
<input #email (keyup.enter)="onKeyUp(email.value)"> -->

<!-- 
<h4>Lower-Upper-Title CasePipe</h4>
<p>{{ title }}</p>
<p>{{ title | lowercase }}</p>
<p>{{ title | uppercase }}</p>
<p>{{ title | titlecase }}</p>

<h4>Date Pipe</h4>
<p>{{ today }}</p>
<p>{{ today | date }}</p>
<p>{{ today | date: 'fulldate' }}</p>
<p>{{ today | date: 'medium' }}</p>
<p>{{ today | date: 'short' }}</p>
<p>{{ today | date: 'h:mm:ss' }}</p>

<h4>Decimal Pipe</h4>
<p>{{ students }}</p>
<p>{{ students | number }}</p>
<p>{{ price | number: '1.2-2' }}</p>

<h4>Currency Pipe</h4>
<p>{{ price }}</p>
<p>{{ price | currency: 'EUR' }}</p>

<h4>Percent Pipe</h4>
<p>{{ completed }}</p>
<p>{{ completed | percent }}</p> -->

<!-- {{ text | summary:15 }} -->

<!-- <div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
    <span *ngSwitchCase="0">There are no products</span>
    <span *ngSwitchCase="1">There are 1 products</span>
    <span *ngSwitchCase="2">There are 2 products</span>
    <span *ngSwitchDefault>There are many products</span>
</div>

<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductById(1)?.name">
    <span *ngSwitchCase="productName">Samsung S5</span>
    <span *ngSwitchCase="'Samsung S6'">Samsung S6</span>
    <span *ngSwitchCase="'Samsung S7'">Samsung S6</span>
    <span *ngSwitchDefault>Other Product</span>
</div> -->

<!-- <ul class="list-group m-5">
    <li *ngFor="let product of model.getProducts(); first as isFirst; last as isLast; odd as isOdd; even as isEven" class="list-group-item">
        {{ product.id }} - {{product.name}}
        <span *ngIf="isFirst" class="badge bg-primary">first item</span>
        <span *ngIf="isLast" class="badge bg-success">last item</span>
        <span *ngIf="isOdd" class="badge bg-danger">odd item</span>
        <span *ngIf="isEven" class="badge bg-warning">even item</span>
    </li>
</ul> -->


<!-- 
<div class="m-5">   
<button class="btn btn-primary" (click)="addProduct()" >Add Product</button>
<ul class="list-group mt-2">
    <li *ngFor="let product of model.getProducts()" class="list-group-item">
        {{product.name}}
        <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
        <button class="btn btn-warning" (click)="updateProduct(product)">Update</button>
    </li>
</ul>
</div> -->


<!-- <ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{products: model.getProducts()}"></ng-template>
<ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{products: model.getProducts()}"></ng-template>

<ng-template #productList let-products="products">
    <div class="m-5">
        <ul class="list-group mt-2">
            <li *ngFor="let product of products" class="list-group-item">
                {{product.name}}
            </li>
        </ul>
    </div>
</ng-template> -->



<!-- <input type="text" appInputEmail> -->




<!-- 
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="m-3">
                <form #form="ngForm" (ngSubmit)="submitForm(form)">

                    <div class="bg-danger text-white p-3 my-2" *ngIf="formSubmitted && form.invalid">
                        Something went wrong. Check your information.
                        <ul>
                            <li *ngFor="let error of getformValidationErrors(form)">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                    <div class="bg-info text-white my-2 p-2">
                        {{ jsonProduct}}
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input required minlength="3" maxlength="10" pattern="^[A-Za-z ]+$"
                            [(ngModel)]="newProduct.name" name="name" #name="ngModel" type="text" class="form-control"
                            (change)="log(name)">
                        <div class="alert alert-danger" *ngIf="(formSubmitted || name.dirty) && name.invalid">
                            <ul>
                                <li *ngFor="let error of getValidationErrors(name)">
                                    {{error}}
                                </li>
                            </ul> -->
<!-- <p *ngIf="name.errors?.['required']">Name is required.</p>
                        <p *ngIf="name.errors?.['pattern']">Only letters and spaces</p>
                        <p *ngIf="name.errors?.['minlength']">min. 3 characters</p> -->
<!-- </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea required [(ngModel)]="newProduct.description" name="description"
                            #description="ngModel" class="form-control"></textarea>
                        <div class="alert alert-danger"
                            *ngIf="(formSubmitted || description.dirty) && description.invalid">
                            <ul>
                                <li *ngFor="let error of getValidationErrors(description)">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input required [(ngModel)]="newProduct.price" name="price" #price="ngModel" type="text"
                            class="form-control">
                        <div class="alert alert-danger" *ngIf="(formSubmitted || price.dirty) && price.invalid">
                            <ul>
                                <li *ngFor="let error of getValidationErrors(price)">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image Url</label>
                        <input required [(ngModel)]="newProduct.imageUrl" name="imageUrl" #imageUrl="ngModel"
                            type="text" class="form-control">
                        <div class="alert alert-danger" *ngIf="(formSubmitted || imageUrl.dirty) && imageUrl.invalid">
                            <ul>
                                <li *ngFor="let error of getValidationErrors(imageUrl)">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="formSubmitted && form.invalid"
                        [class.btn-secondary]="formSubmitted && form.invalid">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> -->


<!-- <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" formControlName="name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <ul>
                <li *ngIf="name.errors.required"> Name is required. </li>
                <li *ngIf="name.errors.minlength">Min. {{ name.errors.minlength.requiredLength }} characters</li>
                <li *ngIf="name.errors.maxlength">Max. {{ name.errors.maxlength.requiredLength }} characters</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input class="form-control" formControlName="price">
    </div>

    <div class="form-group">
        <label>Image Url</label>
        <input class="form-control" formControlName="imageUrl">
        <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
                <ul>
                    <li *ngIf="imageUrl.errors.required"> Name is required. </li>
                    <li *ngIf="imageUrl.errors.wrongExtension">Wrong Extension</li>
                </ul>
            </div>
    </div>

    <button type="submit" (click)="updateProductForm()" class="btn btn-primary"> Submit </button>
</form> -->

